{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"><!--字符集类型 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--类似于头部http协议 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="blog"><!-- 页面关键字-->
    <meta name="author" content="PrIce">
    <link rel="icon" href="{% static 'picture/14.ico' %}">
    <title>PrIce's Server</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"><!--定义与外部资源的关系-->
    <script src="{% static 'js/jquery.min.js' %}"></script><!--定义客户端脚本 -->
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"><!-- 导航栏-->
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="../index">PrIce</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../write_new_page">Write</a></li>
                    <li><a href="../about">About</a></li>
                    <li><a href="../contact">Contact</a></li>
                </ul>
            </div><!--类似于{} -->
        </div>
    </nav>

    <p><br /><br /></p>
 
    <div class="container">

        <div class="blog-header">
            <h1 class="blog-title">PrIce's Server</h1>
            <p class="lead blog-description">Blog about PrIce's Life</p>
        </div>

        <p><br /></p>

        <div class="row">

            <div class="col-sm-8 blog-index">
                <hr>
                <div class="blog-post">
                    <p class="blog-post-title"><h2>{{ page.page_title }}</h2></p>
                    <p class="blog-post-meta">{{ page.page_date|date:"Y-m-d" }}</p>
                    <p><br /></p>
                    {{ page.page_content|escape|linebreaks }}
                </div>
            </div>

            <p><br /></p>

        </div><!-- /.row -->

        <p><br /><br /><hr></p>

        <p class="blog-post-title"><h2>Delete</h2></p>
        <form action="../delete_one_page" method="post">
            <input type="hidden" name="id" value={{ page.id }}>
            Password：<input type="password" name="password">  <br />
            <input type="submit" value="Delete" />
            <input type="reset" value="Reset" />
        </form>

        <p><br /><br /><hr></p>

        <p class="blog-post-title"><h2>Comment</h2></p>

        <form>
            <input type="hidden" id="id" value={{ page.id }}>
            Dickname：<input type="text" id="name">  <br />
            <textarea type="text" id="content" rows="10" style="width: 100%;"></textarea>
            <p></p>
            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
            <input type="button" class="btn btn-primary btn-shadow" value="Submit" onclick="PostNewPage()"/>
        </form>

        {% for comment in comment_list reversed %}

            <div class="row">
            <div class="col-sm-8 blog-index">
                <hr>
                <div class="blog-post">
                    <a class="blog-post-title" href="../comment/?id={{ comment.id }}">{{ comment.comment_name }}</a>
                    <p class="blog-post-meta">{{ comment.comment_date|date:"Y-m-d" }}</p>
                    <p class="blog-post-meta">{{ comment.comment_content|escape|linebreaks }}<br /></p>
                </div>
            </div>
            </div>

        {% endfor %}

    </div><!-- /.container -->

    <p><br /><br /><br /><br /><br /></p>

    <div class="container">
        <div class="blog-footer">
            <p align="center">Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="http://user.qzone.qq.com/348368689/infocenter?ptsig=DyCxY-Vd9sdjnqMirpgyW-BGRW-KU375TqO*e*-ytuQ_">@PrIce</a>.</p>
            <p align="center">
                <a href="../index">Back to top</a>
            </p>
        </div>
    </div>

    <script>
        function PostNewPage() {

            var id = document.getElementById("id").value;
            var name = document.getElementById("name").value;
            var content = document.getElementById("content").value;

            if(content=="") {

                alert("评论内容不能为空！");
            }else {

                $.post(
                        "../add_new_comment",
                        {"id":id, "name":name, "content":content},
                        function(result) {

                            if(result.result){

                                alert("评论成功！");
                                window.location.reload();
                            }
                        }
                );
            }
        }
    </script>

</body>
</html>